.nopadding-one{
    padding-right:45px !important;
}

.nopadding-two{
    padding-right:45px !important;
}


img {
    max-width: 100%;
}

.w-card{

}
.w-card .description{
    border: thin solid #DDD; border-top: 0;margin-bottom: 20px;
}
.w-card .description .likes-comments{
    height: 70px;
    padding: 20px;
}
.w-card .description .like-count {
    float: left; line-height: 30px;
}
.w-card .description .like-image{
    height: 28px;float: left;margin-right: 10px;
}
.w-card .description .profile{
    width: 30px;height: 30px;display: inline-block;overflow: hidden;border-radius: 30px;border: 2px solid pink;float: right;
    margin-left: 10px;
}
.w-card .caption{
    float: left;
    width: 340px;
    text-align: center;
    line-height: 30px;
    color: #888;
}
.w-card .description .add-comment{
    float: right;line-height: 30px;
}

.w-card .description .comment-section form {
    clear: both;
}
.w-card .description .comment-section  form textarea{
    border: thin solid #ddd; border-left:0; border-right: 0; width:100%;height: 100px;height: 155px;padding: 10px;
}
.w-card .description .comment-section form .btn.btn-danger.pull-right{
    margin:0;
}
.w-card .description .comment-section form .characters{
    line-height: 33px; margin-left: 10px;
}

.header {
    width: 250px;
    margin: 0 auto;
}
.main{
    padding-top: 20px;
    border-top: thin dashed #CCC;
}

a.upload{
    background-color: red;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: #FFF;
}
a.upload:hover{
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    text-decoration: none;
    color: #FFF;
}
.view-more{
    display: block;
    text-align: center;
    padding: 10px;
}

.comment-section{
    border-top: thin solid #DDD;

}

.comment{
    padding: 20px;
    border-bottom: thin dashed #DDD;
}

.show {
    display: block;
}