<!doctype html>
<html lang="en" ng-app="wedApp">
<head>
    <meta charset="utf-8">
    <title>Wed App</title>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Wedding App (Couple)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="events.html">Rent A Knot ! </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <br><br><br>
    </div>

    <table>
        <!--<tr ng-repeat="x in names">-->
        <tr>
            <td>
                <form>
                    <fieldset class="form-group">
                        <label for="beaconsSelect">Available Knots :</label>
                        <select class="form-control" id="beaconsSelect" ng-model="selected">
                            <option>Beacon 1</option>
                            <option>Beacon 2</option>
                        </select>
                    </fieldset>
                </form>
            </td>
        </tr>

    </table>

    <div class="check-element animate-show" ng-show="selected">
        <div class="row">
            <div class="col-sm-6"><h1>Chope an Auspicious date</h1></div>
        </div>
        <div class="row">
        <div class="col-sm-6">
            <!-- FORM ============ -->

            <form name="eventForm" ng-submit="submitForm()" novalidate>

                <!-- EVENT NAME -->
                <div class="form-group" ng-class="{ 'has-error' : eventForm.name.$invalid && !eventForm.name.$pristine }">
                    <label>Event Name</label>
                    <input type="text" name="name" class="form-control" ng-model="event.name" required>
                    <p ng-show="eventForm.name.$invalid && !eventForm.name.$pristine" class="help-block">Event name is required.</p>
                </div>

                <div class="form-group">
                    <label for="startDate">Start Date :</label>
                    <input id="startDate" type="date" name="startDate" required class="form-control"
                           ng-model="event.startDate">
                </div>

                <div class="form-group">
                    <label for="endDate">End Date :</label>
                    <input id="endDate" type="date" name="endDate" required class="form-control"
                           ng-model="event.endDate">
                </div>

                <div class="form-group" ng-class="{ 'has-error' : eventForm.venue.$invalid && !eventForm.venue.$pristine }">
                    <label>Venue</label>
                    <input type="text" name="venue" class="form-control" ng-model="venue" required>
                    <p ng-show="eventForm.name.$invalid && !eventForm.name.$pristine" class="help-block">Venue is required.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : eventForm.groom.$invalid && !eventForm.groom.$pristine }">
                    <label>Groom name</label>
                    <input type="text" name="groom" class="form-control" ng-model="groom.name" required>
                    <p ng-show="eventForm.groom.$invalid && !eventForm.groom.$pristine" class="help-block">Groom name is required.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : eventForm.bride.$invalid && !eventForm.bride.$pristine }">
                    <label>Bride name</label>
                    <input type="text" name="bride" class="form-control" ng-model="bride.name" required>
                    <p ng-show="eventForm.bride.$invalid && !eventForm.bride.$pristine" class="help-block">Bride name is required.</p>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Book Lah!</button>

            </form>
        </div>
        </div></div>
</div>

</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="js/index.js"></script>
</html>
