<!doctype html>
<html lang="en" ng-app="wedApp">
<head>
    <meta charset="utf-8">
    <title>Wed App</title>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
</head>
<style>
    .ng-hide{
        display: none;
    }
</style>
<body ng-cloak>

<div class="header">
    <img src="img/logo-2.jpg" alt=""/>
</div>

<div class="container main ng-hide"
     data-ng-controller="ImagesListCtrl as ctrl2" ng-show="ctrl2.images">
    <div class="row w-card" data-ng-repeat="image in ctrl2.images track by $index">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <img ng-src="/api/render/{{image.id}}" style="border: thin solid #ddd;"/>

            <div class="description">
                <div class="likes-comments">
                    <a>
                        <img data-ng-click="ctrl2.like(image)" class="like-image" src="img/like.png" alt=""/>
                    </a>
                    <span class="like-count">{{image.likeCount || 0}}</span>
                    <a class="profile">
                        <img src="img/samples/nathaniel.currier.png" alt=""/>
                    </a>
                    <a class="add-comment" ng-click="show = !show">Comment(s)</a>
                </div>
                <div data-ng-controller="wedAppCtrl as ctrl" class="comment-section" ng-show="show">
                    <div data-ng-repeat="comment in ctrl.comments | filter: { gallery_id: image.id }" class="comment" style="">
                        <b>{{ctrl.attendeesName}} -  {{comment.updatedDatetime | date:'medium' }} </b>
                        <a class="edit-comment text-right" href="#" ng-click="ctrl.updateComment(comment.id, comment.comments, $index, image.id)">Edit</a>
                        <br>{{comment.comments}}
                    </div>
                        <form name="commentForm" novalidate ng-submit="ctrl.addComment(image.id)" class="comment">
                            <textarea id='comments{{image.id}}' ng-model="ctrl.comment.comments" maxlength="1500" required placeholder="Add a Comment"></textarea>
                            <span class="characters">{{1500 - ctrl.comment.comments.length}} characters remaining..</span>
                            <input type="submit" class="btn btn-danger pull-right" />
                        </form>
                 </div>
           </div>
        </div>
        <div class="col-xs-3"></div>
    </div>

    <!-- Modal -->
    <div data-ng-controller="ImageUploadCtrl as uploader">
        <div class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true"
             data-ng-class="{'show': uploader.showUpload, 'in': uploader.showUpload}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form name="form" ng-submit="form.$valid && uploader.upload()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="uploader.showUpload = false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Upload Photo</h4>
                        </div>
                        <div class="modal-body">
                            <label class="file">
                                <input type="file" id="file" required="" onchange="angular.element(this).scope().uploader.uploadFile(this.files)">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"  data-ng-class="{disabled: uploader.uploading}" class="btn btn-primary" >Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="upload"  data-ng-click="uploader.showUpload = true">+</a>
    </div>
</div>
</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="js/index.js"></script>
</html>
